.start_line {
    margin:  0  0  0 50px;
}

form{
    border: 1px solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

input{
    width: 150px;
    margin: 5px;
}

main{
    width: 1000px;
}

.circle{
width: 100px;
height: 100px;
background: #000;
border-radius: 50px;
}

.button1{
    background: blue;
color: aliceblue;
padding: 5px;

}

.button1:hover {
background: green;
}

